{% extends "base.twig" %}

{% block content %}
<div class="bs-docs-section" role="main">
    <div class="row">
        <h3>
            API into your Farm!
        </h3>
        <p>
            You can do all sorts of cool things using <span class="label label-primary">The Coop</span> APIs.  Here is a complete list of actions:
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>URL</th>
                    <th>Method</th>
                    <th>Sandbox</th>
                </tr>
            </thead>
            <tbody>
                {% for action,message in app.scopes %}
                    <tr>
                        <td>{{ message }}</td>
                        <td>{{ path('api_call', {'action': action}) }}</td>
                        <td>POST</td>
                        <td>
                            <a href="{{ path('api_call', {'action': action}) }}">try it</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        {% if clients|length > 0 %}
            <p>
                Here is a list of your applications:
            </p>

            <ul>
                {% for client in clients %}
                    <li><a href="{{ path('app_show', {name: client.client_id|url_encode}) }}">{{ client.client_id }}</a></li>
                {% endfor %}
            </ul>
            <p>
                <a class="btn btn-default" href="{{ path('app_create') }}">Create another Application</a>
            </p>
        {% else %}
            <h3>
                You have not registered any Applications!
            </h3>
            <p>
                Well let's not waste any more time... <a href="{{ path('app_create') }}">Create your Application</a>!
            </p>
        {% endif %}
    </div>
<div>
{% endblock %}
