{% extends "base.twig" %}

{% block content %}
<div class="bs-docs-section" role="main">
    <div class="row">
        <h3>
            API into your Farm!
        </h3>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p class="alert alert-info">
            Your User Id is: <strong>{{ app.security.token.user.id }}</strong>
        </p>
        {% endif %}
        <p>
            You can do all sorts of cool things using <span class="label label-primary">The Coop</span> APIs.
        </p>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#endpoints" data-toggle="tab">Endpoints</a></li>
            <li><a href="#authentication" data-toggle="tab">Authentication</a></li>
            <li><a href="#authorization" data-toggle="tab">Authorization</a></li>
            <li><a href="#applications" data-toggle="tab">Your Applications</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="endpoints">{{ include('api/_endpoints.twig') }}</div>
            <div class="tab-pane fade" id="authentication">{{ include('api/_authentication.twig') }}</div>
            <div class="tab-pane fade" id="authorization">{{ include('api/_authorization.twig') }}</div>
            <div class="tab-pane fade" id="applications">{{ include('api/_applications.twig') }}</div>
        </div>
    </div>
</div>
{% endblock %}
