{% extends "base.twig" %}

{% block content %}
    <h3>Hal's Housing Help</h3>
    <p>
        This is Hal's website.  Click the button below to authorize me to get into your house
    </p>

    <div>
        <p>
            The <code>Authorization Code</code> grant type is the most common workflow for OAuth2.0.  Clicking the "Authorize" button below will send you to an OAuth2.0 Server to authorize:
        </p>

        <a class="button" href="{{ authorize_url }}?response_type=code&client_id={{client_id}}&redirect_uri={{ redirect_uri }}&scope={{ scope }}&state={{session_id}}">Authorize</a>
    </div>
{% endblock %}