{% set editName = editName is defined ? editName : true %}
{% set errors = errors is defined ? errors : {} %}

{% macro print_errors(errors, key) %}
    {% if attribute(errors, key) is defined %}
        <div class="alert alert-danger">{{ attribute(errors, key) }}</div>
    {% endif %}
{% endmacro %}

<fieldset>
    <legend>Let's get you started</legend>
    <div class="form-group">
        <label for="app-name" class="col-lg-2 control-label">Application Name</label>
        <div class="col-lg-10">
            {{ _self.print_errors(errors, 'name') }}
            <input type="text" class="form-control" name="name" id="app-name" placeholder="For Example: My Test App" value="{{ client.client_id is defined ? client.client_id : '' }}" {{ editName ? '' : ' disabled' }}>
        </div>
    </div>
    <div class="form-group">
        <label for="app-redirect_uri" class="col-lg-2 control-label">Redirect URI</label>
        <div class="col-lg-10">
            {{ _self.print_errors(errors, 'redirect_uri') }}
            <input type="text" class="form-control" name="redirect_uri" id="app-redirect_uri" value="{{ client.redirect_uri is defined ? client.redirect_uri : '' }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Scope
            <span class="help-block"><em>What is it you want to do?</em></span>
        </label>
        <div class="col-lg-10">
            {% for action,message in app.scopes %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="scope[]" value="{{ action }}"{{ (client.scope_arr is defined and action in client.scope_arr) ? ' checked' : '' }}> {{ message }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <a class="btn btn-default" href="{{ path('home') }}">Cancel</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</fieldset>