{% extends "base.twig" %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h3>Your Basket of Eggs</h3>

            {% if user.coopAccessToken == '' %}
                <div class="alert alert-info">
                    To start counting your eggs, you need to authorize Top Cluck
                    to use your COOP account! Once you do that, we can count
                    your eggs!
                </div>

                <a class="btn btn-primary btn-lg" href="{{ path('coop_authorize_start') }}">Authorize</a>
            {% else %}
                Looks like you've collected <span class="label label-success">{{ eggCount }}</span> eggs today.

                <a href="{{ path('count_eggs') }}" class="btn btn-primary">Update today's egg count</a>
            {% endif %}

            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-body">
                    {% if user.facebookUserId %}
                        Share how many eggs you've collected today on Facebook!
                        <a href="{{ path('facebook_share_place') }}" class="btn btn-info">Share</a>
                    {% else %}
                        Share your status on Facebook!
                        <a href="{{ path('facebook_authorize_start') }}">Connect with Facebook</a>
                    {% endif %}
                </div>
            </div>

            <span id="signinButton">
              <span
                class="g-signin"
                data-callback="signinCallback"
                data-clientid="562677112190-5r1deto9iqma39q1uetrfhv8ju1ldb3u.apps.googleusercontent.com"
                data-cookiepolicy="single_host_origin"
                data-requestvisibleactions="http://schemas.google.com/AddActivity"
                data-scope="https://www.googleapis.com/auth/plus.login">
              </span>
            </span>
            <div id="google-plus-people"></div>

        </div>
        <div class="col-lg-6">
            {{ include('_leaderboard.twig', { 'egg_counts': egg_counts }) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/client:plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();

        function signinCallback(authResult) {
            if (authResult['status']['signed_in']) {
                // Update the app to reflect a signed in user
                // Hide the sign-in button now that the user is authorized, for example:
                document.getElementById('signinButton').setAttribute('style', 'display: none');

                // loads the gapi.client.plus JavaScript object
                gapi.client.load('plus','v1', function() {
                    loadCirclesPeople();
                });
            } else {
                // Update the app to reflect a signed out user
                // Possible error values:
                //   "user_signed_out" - User is signed-out
                //   "access_denied" - User denied access to your app
                //   "immediate_failed" - Could not automatically log in the user
                console.log('Sign-in state: ' + authResult['error']);
            }
        }

        function loadCirclesPeople() {
            console.log(gapi, gapi.client);
            var request = gapi.client.plus.people.list({
                'userId': 'me',
                'collection': 'visible'
            });
            request.execute(function (people) {
                var $people = $('#google-plus-people');
                $people.empty();
                for (var personIndex in people.items) {
                    var person = people.items[personIndex];
                    $people.append('<img src="' + person.image.url + '">');
                }
            });
        }
    </script>
{% endblock %}
