<div class="bs-example table-responsive">
  <h3>{{ client.client_id }}</h3>
  <table class="table table-striped table-bordered table-hover ">
    <tbody>
      <tr>
        <td>Client ID</td>
        <td><strong>{{ client.client_id }}</strong></td>
      </tr>
      <tr>
        <td>Client Secret</td>
        <td><code>{{ client.client_secret }}</code></td>
      </tr>
      <tr>
        <td>Redirect URI</td>
        <td>{{ client.redirect_uri }}</td>
      </tr>
      <tr>
        <td>Scope</td>
          <td>
          {% if client.scope %}
          <ul>
            {% for scope in client.scope|split(' ') %}
              <li>{{ scope }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
</div>