{% extends "base.twig" %}

{% block header %}<h1>Application: {{client.client_id}}</h1>{% endblock %}

{% block content %}

<div class="bs-docs-section" role="main">
    {% if message is defined %}
        <div class="row">
            <div class="bs-example">
                <div class="alert alert-dismissable alert-{{level|default('success')}}"><p>{{message}}<p></div>
            </div>
        </div>
    {% endif %}
    <div class="bs-example table-responsive">
      <h3>{{ client.client_id }}</h3>
      <table class="table table-striped table-bordered table-hover ">
        <tbody>
          <tr>
            <td>Client ID</td>
            <td><strong>{{ client.client_id }}</strong></td>
          </tr>
          <tr>
            <td>Client Secret</td>
            <td><code>{{ client.client_secret }}</code></td>
          </tr>
          <tr>
            <td>Redirect URI</td>
            <td>{{ client.redirect_uri }}</td>
          </tr>
          <tr>
            <td>Scope</td>
              <td>
              {% if client.scope %}
              <ul>
                {% for scope in client.scope|split(' ') %}
                  <li>{{ scope }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<div class="bs-docs-section" role="main">
    <div class="row">
        <p>
            Now you need to get permission from my owner to perform those functions,
            using the <code>authorize</code> url below:
        </p>
        <pre class="alert-info"><code><a target="_blank" href="{{ url('authorize', {client_id: client.client_id, response_type: 'code'}, true) }}">{{ url('authorize', {client_id: client.client_id, response_type: 'code'}, true) }}</a></code></pre>
    </div>
    <div class="row">
        <p>
            Then, you can <a href="{{ path('code') }}">exchange your authorization code</a> for an access token!
        </p>
    </div>
</div>
{% endblock %}