{% extends "base.twig" %}

{% block header %}<h1>Access Token For "{{client_id}}"</h1>{% endblock %}

{% block content %}

<div class="bs-docs-section" role="main">
    <div class="row">
        <p> You've created an Access Token for making API calls on behalf of {{ user_id }}: </p>
        <div class="bs-example">
            <pre class="alert-info"><h3>{{ token }}<h3></pre>
        </div>
    </div>
    <div class="row">
        <p>
            Now you can <a href="{{ path('api_home') }}">call the APIs</a>!
        </p>
        <a class="btn btn-default" href="{{ path('home') }}">Back</a>
    </div>
</div>
{% endblock %}
